
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Vehicles</h2>
<div>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Make</th>
                <th>Model</th>
                <th>LookupCode</th>
                <th>Mileage</th>
                <th>Valuation</th>
            </tr>
        </thead>

    <tbody>
    
        @foreach (var vehicle in ViewData["vehicles"] as List<Tutorial.MyClasses.Vehicle>)
        {
        <tr>
            <td>@vehicle.id</td>
            <td>@vehicle.make</td>
            <td>@vehicle.model</td>
            <td>@vehicle.lookupCode</td>
            <td>@vehicle.mileage</td>
            <td>@vehicle.value</td>
        </tr>
        }
   
    </tbody>
    </table>
    
    <form method="post">
        @ViewBag.Message
        <select type="number" name="vehicleId">
            @foreach (var vehicle in ViewData["vehicles"] as List<Tutorial.MyClasses.Vehicle>)
            {
                <option value=@vehicle.id>@vehicle.make @vehicle.model @vehicle.lookupCode</option>
            }
        </select>
        <input type="submit" value="Submit">
    </form> 
</div>
<br><br><br>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
