@model Tutorial.MyClasses.Vehicle

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VehiclesView</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.derivative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.derivative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lookupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lookupCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Valuation")
</p>
